* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  min-height: 100vh;
  min-width: 100vw;
  padding: 50px;
}


#visualizador{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}